<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Songs", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <section class="container">
        <div class="row">
          <div class="col">
            <a href="https://www.youtube.com/c/Sabecontar/" class="phx-logo">
              <img src="<%= Routes.static_path(@conn, "/images/banner.png") %>" alt="Sabe Contar?"/>
            </a>
          </div>
          <div class="col">
            <a href="https://www.youtube.com/c/Sabecontar/" class="phx-logo">
              <img src="<%= Routes.static_path(@conn, "/images/perfil.png") %>" alt="Sabe Contar?" class="rounded-circle"/>
            </a>
          </div>
        </div>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
